html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.loading {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #000;
}

.app {
  z-index: 0;
}

.globe {
  width: 75%;
  height: 100%;
  position: absolute;
  background: #555555;
}

.sidebar {
  width: 25%;
  height: 100%;
  position: absolute;
  right: 0;
  background: #888888;
}


